body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f3ed;
    color: #444;
}


header {
    background-color: #ff9900;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px black;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    margin: 0;
    font-size: 1.5rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
#first{
    margin-left:10px;
    font-family: Arial, Helvetica, sans-serif;
}
#first p{
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
}